* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}

#container div {
    display: block;
}

#container div div {
    border-radius: 1px;
    background: #ccc;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: background 1s;
}

#container div div .red {
    background-color: red;
}

#container div div .green {
    background-color: limegreen;
}